<div class="container-BigCard">
    <div class="bigCard-photo">
        <img 
            src="https://i.imgur.com/NkpGPrR.jpg" 
            alt="Foto de Vanessa Trajano"
        >
    </div>
    <div class="bigCard-title">
        <h1><a href="#">Desenvolvedora Web</a></h1>
    </div>
    <div class="bigCard-description">
        <p>Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada. A ordem dos tratores não altera o pão duris. Diuretics paradis num copo é motivis de denguis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
    </div>
</div>