<div class="container-BigCard">
    <div class="bigCard-photo">
        <img 
            src="https://i.imgur.com/NkpGPrR.jpg" 
            alt="Foto de Vanessa Trajano"
        >
    </div>
    <div class="bigCard-title">
        <h1><a href="#">Desenvolvedora Web</a></h1>
    </div>
    <div class="bigCard-description">
        <p>Olá! Eu sou uma Desenvolvedora Web em desenvolvimento! Sou técnica em Desenvolvimento de Sistema e estou cursando o curso de Bacharelado em Sistema de Informação na Universidade Federal de Juiz de Fora.</p>
    </div>
</div>