<div class="container-MenuBar">
    <ul>
        <li><a 
            href="https://www.linkedin.com/in/vantrajano/"
            target="_blank">
                Linkedin
        </a></li>
        <li><span>•</span></li>
        <li><a 
            href="https://github.com/VanessaTrajano"
            target="_blank">
                Github
        </a></li>
        <li><span>•</span></li>
        <li><a 
            href="https://www.instagram.com/vantrajano/"
            target="_blank">
                Instagram
        </a></li>
    </ul>
</div>